
tr{
    cursor: pointer;
}

.modal-content {
    width: 600px;
    margin: auto;
    height: 100%;
}

.modal-dialog {
    width: 100% !important;
    margin: 0 !important;
    text-align: center;
    height: 100%;
}

.close {

    position: fixed;
    right: 0px;
    top: 0%;
    color: white !important;
    font-size: 3em;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 5px !important;
}

.close:hover {

    background: red;
}

.content-player{
    margin: auto;
    height: 100%;
}

#player{
    margin-top: 5%;

}

th{
    text-align: center;
}
