
.login-form a {
    color: white !important;

}

.login-form a:hover {
    color: #007aff !important;
}

.login-form input[type="email"] {
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0;
}



div .alert-block {

    margin: 100px 100px 0px 150px;
    opacity: 100 !important;
    text-align: center;
    border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.7);
}

#resend-title {

    font-size: 20px;
    color:#6b6b6b;
    margin-bottom: 30px;
    font-weight: bold;
}

.litle{

    margin-bottom: 0px;
    padding-bottom: 0px;
}

.litle > i {

    font-size: 40px;
}

.text-danger{

    color: #ff2d55 !important;
}

.black-alert{

    color: black;
}

