.login-form{
    margin: 7% auto !important;
}

.login-form a {
    color: white !important;

}

#forgot a{

    color: #007AFF !important;
}

.login-form a:hover {
    color: #007aff !important;
}

.login-form input[type="email"] {
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0;
}



#resend-title {

    font-size: 20px;
    color:#6b6b6b;
    margin-bottom: 30px;
    font-weight: bold;
}

.litle{

    margin-bottom: 0px;
    padding-bottom: 0px;
}

.litle > i {

    font-size: 40px;
}

.text-danger{

    color: #ff2d55 !important;
}

.black-alert{

    color: black;
}

.alert-block{

    border-radius: 10px;
    font-size: 1.2em;
    color: white;
    background: rgba(255, 0, 2, 0.4) !important;
    padding: 3%;
    text-align: center;
    overflow: auto;
    border: none !important;
    margin-top: 7%;
}

