.help-block{
    margin-top: 30px;
    text-align: left !important;
}

p.photo-label{

    text-align: left !important;
    margin-top: 30px !important;
    padding-left: 15px;
}

@media screen and (max-width: 1200px) {
    p.photo-label{

        margin-top: 0px !important;
    }
}

.text-danger{

    color: #ff2d55 !important;
}

#header-signup{
    text-align: center;
}

#form-signup-title{
    margin-left: 30px;
    size: 2em;
}

#signup-submit > button,#signup-submit > a{
    border-radius: 0;
}

#section-signup{
    margin: 200px 100px;
}

.black-alert{

    color: black;
}

.inputphoto {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputphoto + label{
    border-radius: 0px !important;
}

#label-photo{
    margin-left: 10px;
}

