#imprimer_contrib{
    display: none;
}

.header {
    display: none;
}
#btn-contrib{
    display: none;
}
#btn-return-search-contrib{
    display: none;
}

#aside{
    display: none;
}



@page  {
    size: auto;
    margin-bottom: 0mm;
}

@page:left{
    @top-left {
        content: "Page " counter(page) " of " counter(pages);
    }
}

/**
Liste des contributions consult_contribution
 */

#div_consult_contrib{
    display: none;
}
#aside{display:none; }
#main-content{margin-left:0px !important;}
#menu_contrib_user{display: none}
