.help-block{
    margin-top: 30px;
    text-align: left !important;
}

div .alert-block {
    margin: 100px 100px 0px 100px;
    opacity: 100 !important;
    text-align: center;
    border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.7);
}

p.photo-label{
    text-align: left !important;
    margin-top: 30px !important;
    padding-left: 15px;
}

@media screen and (max-width: 1200px) {
    p.photo-label{
        margin-top: 0px !important;
    }
}


@media screen and (max-width: 950px) {

    .slogan-signup{
        font-size: 3.5em !important;
    }
}

@media screen and (max-width: 700px) {

    #header-signup{
        font-size: 1.1em !important;
    }

    #form-signup-title{
        margin-left: 10px !important;
    }

    #label-condidtion{
        width: 77% !important;
    }

    .inputfile + label{
        width: 100%;
    }
    .slogan-signup{
        font-size: 3em !important;
    }
    .alert-block{
        margin: 15% 4% 0 4% !important;
    }
}

@media screen and (max-width: 600px) {

    #section-signup{
        margin: 10px 0px 0px 10px !important;
        width: 48%;
    }

    #header-signup{
        font-size: 0.9em !important;
    }

    .slogan-signup{
        font-size: 2.7em !important;
        height: 60% !important;
    }

}

@media screen and (max-width: 550px) {

    #header-signup{
        font-size: 0.8em !important;
        height: 40px !important;
    }

    .slogan-signup{
        font-size: 2.5em !important;

    }

}

@media screen and (max-width: 420px) {

    #header-signup{
        font-size: 0.9em !important;
        height: 40px !important;
        padding-top: 10px !important;
    }

    #section-signup{
        float: none !important;
        width: 90%;
    }

    #label-condidtion{
        width: 80% !important;
    }

    .slogan-signup{
        display: none!important;
    }
}

@media screen and (max-width: 260px) {

    #label-condidtion{
        width: 70% !important;
    }

    #header-signup{
        font-size: 0.8em !important;
    }
}

.text-danger{

    color: #ff2d55 !important;
}

#header-signup{
    text-align: center;
    font-size: 1.2em;
    height: 70px;
    padding-top: 20px;
    font-family: "Book Antiqua";
}

#form-signup-title{
    margin-left: 30px;

}

#signup-submit > button,#signup-submit > a{
    border-radius: 0;
}

#section-signup{
    margin: 30px 0px 0px 30px;
    padding: 0 !important;
    float: right;
}

.black-alert{
    color: black;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label{
    border-radius: 0px !important;
    overflow: hidden;
    word-break: break-all;
}

#label-file{
    margin-left: 10px;
}

#agree{
    display: inline-block;
}

.container{
    margin: 0 3% 0 3%;
    max-width: none;
}

#label-condidtion{
    float: left;
    width: 82%;
    text-align: left;
    margin-left: 10px;
}

.slogan-signup{
    position: fixed;
    top: 10%;
    left: 40px;
    width: 40%;
    border-radius: 10px;
    font-size: 4em;
    font-family: cursive;
    color: white;
    background: rgba(255, 0, 2, 0.3);
    padding: 3%;
    text-align: center;
    height: 70%;
    overflow: auto;
}




/*# sourceMappingURL=signup.css.map */
